/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*:before, *:after {
	box-sizing: box;
 	-moz-box-sizing:  border-box;
 	-webkit-box-sizing:  border-box;
}
img {
	max-width: 100%;
	height: auto;
}
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}
.radius-50-img {
	border-radius: 50%;
}
* {
	color: #3D1101;
}
/* css reset end */



/* template css */

.wrap {
	max-width: 1024px;
	margin: 0 auto;
	position: relative;
}

.header {
	background: rgba(0,0,0,0.75);
	position: absolute;
	width: 100%;
	height: 56px;
}

@media (max-width: 767px) {
	.header {
		position: fixed;
		z-index: 100;
	}
}

.header .logo {
	float: left;
}

.header .logo a {
	width: 120px;
	height: 24px;
	margin-left: 42px;
	margin-top: 16px;
	display: block;
	background-image: url(../img/logo_w.png);
	background-image: url(../img/logo_w@svg.svg);
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}

@media (max-width: 767px) {
	.header .logo a {
		margin-left: 20px;
	}
}

.menu {
	float: right;
	margin-right: 30px;
}

.menu li {
	float: left;
}

.menu li a {
	display: block;
	height: 56px;
	color: #fff;
	text-decoration: none;
	line-height: 56px;
	padding: 0 20px;
}

.menu li a:hover {
	border-bottom: 3px solid #fff;
}

.menu-hamburger {
	display: none;
}

.menu-hamburger i {
	float: right;
	color: #fff;
	font-size: 30px;
	height: 56px;
	line-height: 56px;
	margin-right: 20px;
}

@media (max-width: 767px){
	.menu {
    	max-height: 0;
    	overflow: hidden;
    	position: absolute;
    	transition: max-height 0.5s;
    	top: 56px;
    	z-index: 100;
    	background: rgba(0,0,0,0.75);
    	width: 100%;
	}
	.menu li {
		float: right;
	}
	.menu-hamburger {
		display: inline;
	}
	/*jQ點擊後動態在 body 加上 class */
  	.menu-show .menu{
    	max-height: 56px;
  	}
}

.footer {
	background-color: #efe9e7;
	padding: 50px 0;
}

.footer ul li {
	float: left;
	width: 30.33333%;
	margin-left: 3%;
	padding-right: 5%;
}

@media (max-width: 767px) {
	.footer ul li {
		width: 97%;
		margin-bottom: 30px;
	}
}

.footer ul li h2 {
	font-size: 24px;
	margin-bottom: 16px;
}

.footer ul li span {
	line-height: 1.2;
}

.footer-logo {
	width: 94%;
	margin-bottom: 22px;
	float: left;
}

@media (max-width: 767px) {
	.footer-logo {
		text-align: right;
	}
}

.footer-share-link {
	text-align: right;
	float: left;
	width: 94%;
}

.footer-share-link a {
	cursor: pointer;
}

/* template css end */


/* index.html css */

.banner {
	background-image: url(../img/header_desktop.png);
	background-position: center;
	height: 420px;
	padding-top: 123px;
}

.banner-intro {
	background: rgba(0,0,0,0.35);
	width: 460px;
	margin: 0 auto;
}

@media (max-width: 767px) {
	.banner-intro {
		width: 300px;
	}
}

.banner-intro h2 {
	font-size: 36px;
	color: #fff;
	padding: 20px 0;
	text-align: center;
}

.banner-intro-line-feed {
	display: none;
}

@media (max-width: 767px) {
	.banner-intro-line-feed {
		display: inline;
	}
}

.banner-intro span {
	color: #fff;
	display: block;
	text-align: center;
	padding-bottom: 26px;
	line-height: 25px;
}

.banner-intro span i {
	color: #fff;
}

.feature {
	background-color: #efe9e7;
}

.feature h2 {
	text-align: center;
	line-height: 32px;
	padding-top: 50px;
	padding-bottom: 31px;
	position: relative;
}

.feature h2 fieldset {
	border-top: 1px solid #979797;
	width: 350px;
	margin: 0 auto;
}

@media (max-width: 767px) {
	.feature h2 fieldset {
		width: 250px;
	}
}

.feature h2 fieldset legend {
	padding: 0 15px;
}

.feature ul {
	padding-bottom: 50px;
}

.feature ul li {
	float: left;
	width: 27.33333%;
	padding: 1%;
	margin-left: 5%;
}

@media (max-width: 767px) {
	.feature ul li {
		width: 94%;
		margin-bottom: 4%;
	}
}

.feature ul li div {
	text-align: center;
}

.feature ul li h2 {
	padding-top: 20px;
	padding-bottom: 11px;
}

.feature ul li span {
	line-height: 1.2;
}

.tody-chef {
	background-color: #3d1101;
}

.todo-chef-intro, .todo-chef-pic {
	float: left;
	width: 40%;
	margin-left: 3%;
}

@media (max-width: 767px) {
	.todo-chef-intro, .todo-chef-pic {
		width: 100%;
		margin-left: 0;
	}
}

.todo-chef-pic {
	height: 460px;
	background-image: url(../img/main_chef_brown.png);
	background-repeat: no-repeat;
	background-position: center;
}

@media (max-width: 767px) {
	.todo-chef-pic {
		background-size: cover;
		background-position: center top;
	}
}

.todo-chef-intro {
	padding-top: 81px;
}

@media (max-width: 767px) {
	.todo-chef-intro {
		padding: 5%;
	}
}

.todo-chef-intro h2, .todo-chef-intro h3, .todo-chef-intro span {
	color: #EFE9E7;
}

.todo-chef-intro h2 {
	font-size: 20px;
	line-height: 32px;
}

.todo-chef-intro h3 {
	margin-bottom: 16px;
}

.todo-chef-intro span {
	line-height: 1.2;
}

.feeling {
	background: #efe9e7;
}

.feeling h2 {
	padding-top: 50px;
	padding-bottom: 32px;
	text-align: center;
	font-size: 24px;
}

.feeling ul {
	padding-bottom: 50px;
}

.feeling ul li {
	float: left;
	width: 32.33333%;
	margin-left: 1%;
}

@media (max-width: 767px) {
	.feeling ul li {
		width: 98%;
		margin-left: 2%;
		margin-bottom: 5%;
	}
}

.avatar-head-pic {
	float: left;
	width: 67px;
}

.avatar-detail {
	margin-left: 80px;
}

.feeling .avatar-detail li {
	width: 85%;
	float: left;
}

.avatar-nickname {
	font-size: 18px;
	margin-top: 22px;
	margin-bottom: 22px;
}

.avatar-content {
	margin-bottom: 22px;
	line-height: 24px;
}

.avatar-name {
	text-align: right;
	color: rgba(61,17,0,0.75);
}

.order {
	background: rgba(250,250,250,0.70);
	padding-bottom: 50px;
}

.order h2 {
	font-size: 24px;
	padding-top: 50px;
	padding-bottom: 38px;
	text-align: center;
	line-height: 1.5;
}

.order .map {
	background-image: url('../img/Map.png');
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	margin-left: 3%;
	width: 40%;
	height: 388px;
}

@media (max-width: 767px) {
	.order .map {
		background-size: cover;
		margin: 0 3%;
		width: 94%;
	}
}

.order .form {
	float: left;
	width: 50%;
	margin-left: 3%;
}

@media (max-width: 767px) {
	.order .form {
		margin: 30px 3% 0;
		width: 94%;
		margin-top: 30px;
	}
}

.order .form ul li {
	margin-bottom: 20px;
}

.order .form ul li label {
	display: block;
	margin-bottom: 6px;
}


.order .form ul li input[type=text], 
.order .form ul li input[type=email], 
.order .form ul li input[type=tel], 
.order .form ul li input[type=number] {
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	box-shadow: inset 0px 1px 0px 0px #ECECEC;
	border-radius: 3px;
	height: 30px;
	font-size: 16px;
	padding: 3px 0 3px 10px;
}

.order .form ul li:last-child {
	margin-top: 27px;
	text-align: right;
}

.order .form ul li input[type=radio] {
	margin-right: 36px;
}

.order .form ul li input[type=submit], .order .form ul li input[type=reset] {
	padding: 8px 20px;
	color: #fff;
	border-radius: 3px;
	border:  none;
	cursor: pointer;
}

.order .form ul li input[type=submit] {
	background: #f56c23;
	cursor: pointer;
}

.order .form ul li input[type=submit]:hover {
	background: #F4621E;
}

.order .form ul li input[type=reset] {
	background: #a09e9e;
}

.order .form ul li input[type=reset]:hover {
	background: #838080;
}

/* index.html css end */


/* cart.html css */

.cart {
	background-color: #efe9e7;
	padding: 48px 0 0 0;
}

.cart-menu {
	float:  left;
	width: 22%;
	margin-left: 3%;
}

@media (max-width: 767px) {
	.cart-menu {
		width: 94%;
		margin-left: 3%;
		margin-bottom: 23px;
	}
}

.cart-menu h2 {
	font-size: 20px;
	line-height: 32px;
	margin-bottom: 16px;
}

.cart-menu ul li {
	border-bottom: 1px solid #3D1101;
}

.cart-menu ul li a {
	display: block;
	padding: 10px 0 10px 8px;
	text-decoration: none;
}

.cart-menu ul li a:hover {
	color: #fff;
	background-color: #3d1101;
}

.cart-content {
	float: left;
	margin-left: 2%;
	width: 72%;
}

@media (max-width: 767px) {
	.cart-content {
		width: 96%;
		margin-left: 3%;
	}
}

.cart-content-top {
	margin-bottom: 26px;
}

.cart-content-top-search {
	float: left;
	height: 33px;
	line-height: 36px;
	width: 80%;
}

@media (max-width: 767px) {
	.cart-content-top-search {
		width: 100%;
		margin-bottom: 15px;
	}
}

.cart-content-top-search input[type=search] {
	font-size: 18px;
	height: 30px;
	width: 80%;
	vertical-align: middle;
	border: 2px solid #3d1101;
}

.cart-content-top-search button {
	color: #fff;
	background-color: #3d1101;
	border: 0;
	height: 21px;
	vertical-align: middle;
	cursor: pointer;
	height: 30px;
	width: 30px;
}

@media (max-width: 767px) {
	.cart-content-top-search input[type=search] {
		width: 91%;
	}
	.cart-content-top-search button {
		width: 7%;
	}
}

.cart-content-top-search button i {
	color: #fff;
}

.cart-content-top-buycar {
	float: right;
	position: relative;
	width: 20%;
	text-align: right;
	padding-right: 10px;
}

.cart-content-top-buycar-num {
	background-color: red;
	color: #fff;
	border-radius: 50%;
	width: 14px;
	height: 14px;
	line-height: 14px;
	display: block;
	text-align: center;
	font-size: 9px;
	position: absolute;
	right: 0px;
}

@media (max-width: 767px) {
	.cart-content-top-buycar {
		width: 100%;
		padding-right: 15px;
	}
	.cart-content-top-buycar-num {
		right: 7px;
	}
}

.cart-content-top-buycar button {
	padding: 0;
	border: 0;
	background-color: #efe9e7;
	cursor: pointer;
}

.cart-content-top-buycar button i {
	font-size: 33px;
}

.cart-content-item ul li {
	float: left;
	width: 31.33333%;
	margin-right: 2%;
	margin-bottom: 30px;
	border-right: 1px solid #d2cdcb;
	border-bottom: 1px solid #d2cdcb;
	box-shadow: 3px 3px 3px #d2cdcb;
	-moz-box-shadow-bottom: 3px 3px 3px #d2cdcb;
	-webkit-box-shadow-bottom: 3px 3px 3px #d2cdcb;
	
	position: relative;
}

@media (max-width: 767px) {
	.cart-content-item ul li {
		width: 98%;
	}
}

.cart-content-item ul li .fa-heart-o {
	position: absolute;
	left: 11px;
	top: 10px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

.cart-content-item ul li .cart-content-item-hot {
	position: absolute;
	right: -8px;
	top: 13px;
	color: #fff;
	transform: rotate(-315deg);
	font-size: 14px;
	background-color: #00CC99;
	padding: 5px;
}

@media (max-width: 767px) {
	.cart-content-item ul li .fa-heart-o {
		font-size: 24px;
		left: 19px;
		top: 18px;
	}
	.cart-content-item ul li .cart-content-item-hot {
		padding: 10px;
		font-size: 16px;
	}
}

.cart-content-item-img {
	text-align: center;
}

.cart-content-item-img img {
	display: block;
	width: 100%;
}

.cart-content-item-hot-none {
	display: none;
}

.cart-content-item ul li h3 {
	font-size: 20px;
	margin-top: 11px;
	text-align: center;
}

.cart-content-item ul li h4 {
	text-align: center;
	display: block;
	font-size: 12px;
}

.cart-content-item ul li .cart-content-item-line {
	border-top: 1px solid #3D1101;
	height: 1px;
	width: 50%;
	display: block;
	margin: 10px auto 20px;
}

.cart-content-item ul li .cart-content-item-money {
	display: block;
	text-align: center;
	margin-bottom: 16px;
	font-size: 20px;
}

.cart-content-item ul li button {
	width: 80%;
	margin: 0 auto 10px;
	display: block;
	border: 2px solid #FF5E45;
	border-radius: 3px;
	background-color: #efe9e7;
	color: #fe644c;
	cursor: pointer;
}

.cart-content-item ul li button i {
	color: #fe644c;
}

.cart-content-item ul li .btn-hover i {
	color: #fff;
}

.cart-content-item ul li button:hover {
	background-color: #fe644c;
	color: #fff;
}

/* cart.html css end */



/* login.html css */

.login {
	background-color: #efe9e7;
	padding-top: 50px;
	padding-bottom: 20px;
}

.login div {
	text-align: center;
}

.login-logo {
	font-size: 48px;
	font-weight: bold;
}

.login h3 {
	margin-top: 5px;
	margin-bottom: 35px;
	text-align: center;
}

.login-block {
	border-top: 3px solid #ff5e45;
	box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
	width: 300px;
	margin: 0 auto;
}

.login-block h3 {
	font-weight: bold;
	margin: 15px 0;
}

.login-block ul {
	padding: 3%;
}

.login-block ul li {
	text-align: left;
	margin-bottom: 15px;
}

.login-block label, .login-block span {
	display: block;
	text-align: left;
	margin-bottom: 3px;
}

.login-block span {
	font-size: 12px;
	color: #ff5e45;
	margin-top: 2px;
}

.login-block ul li {
	position: relative;
}

.login-block ul li .fa-envelope-o, 
.login-block ul li .fa-key {
	position: absolute;
	top: 27px;
	left: 10px;
	color: rgba(61,17,0,0.50);
}

.login-block ul li input[type=email],
.login-block ul li input[type=password] {
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	box-shadow: inset 0px 1px 0px 0px #ECECEC;
	border-radius: 3px;
	width: 270px;
	height: 32px;
	padding-left: 32px;
}

.login-block ul li:last-child {
	text-align: center;
}

.login-block ul li:last-child button, 
.login-block ul li:last-child input[type=submit] {
	border: 0;
	border-radius: 3px;
	color: #fff;
	padding: 5px;
	width: 125px;
}

.btn-register {
	background: rgba(0,0,0,0.35);
}

.btn-login {
	background: #F56C23;
}


/* login.html css end */
